.catDiv{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   
    
}

.catPic{
    height: 400px;
    width: 400px;
}
.photo_and_text{
    display: flex;
    flex-direction: row;
}