/* Add this to your CSS file (index.css or a separate CSS file) */

*{
  border-radius: 10px;
}


.navbar {
    display: grid;
    grid-template-rows: 2;
    justify-content: space-around;
    align-items: center;
    background-color: lightgreen; /* Icy orange background color */
    font-family: monospace;
    font-weight: 500;
    font-size: larger;
    height: 200px;
    width: 100vw;
  }
  
  .navButtonLink {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3E92CC; /* Icy blue background color */
    color: #0d0b0b; /* Dark text color */
    border: none;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .navButtonLink:hover {
    background-color: #2674A6; /* Slightly darker blue for hover effect */
  }
  h1{
    color:white;
   
    font-size: larger;
    font-family: monospace;
  }
